{% extends "notebook/base.html" %}
{% block content %}

    <h1 class="text-center">Grades</h1>

    {% if request.user.role == 'Student' %}
        {% for grade in grades %}
            <p>{{ grade.subject.title }} - {{ grade.grade }}</p>
        {% endfor %}
    {% else %}
        {% for subject, student_grades in data.items %}
            <p>{{ subject }}</p>
            {% for student, grades in student_grades.items %}
                <p>{{ student }} - {{ grades|join:", " }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock content %}