{% extends "notebook/base.html" %}
{% block content %}
<body>
    <div style="padding-top: 2rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#">
                    <img class="rounded-circle shadow-4-strong img-fluid" alt="avatar2" src="{{user.avatar.url}}" class = "rounded-circle" />
                    </a>
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <h3 class="mb-0 ml-md-3">Hello, {{user.username}}.</h3>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
