{% extends "notebook/base.html" %}
{% block content %}
<div class="container">
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="row justify-content-center" style="padding-top: 2rem;">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            {% for field in form %}
            
            <label>{{field.label}}</label>
            <div>{{field}}</div>
            
            {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<style>
    /* Style input fields */
    input[type="text"], textarea, input[type="file"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }
</style>
{% endblock content %}
