{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Domain expansion</span>
    </div>
  </nav>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'grades-page' %}">Grades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'material-page' %}">Materials</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"> <!-- Added ml-auto to align items to the right -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout-page' %}">Log out</a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>
<br>
<br>
<br>
{% endblock %}