{% extends "notebook/base.html" %}
{% block content %}
<body>
  {% include "notebook/navbar.html" %}
  {% block navbar %}{% endblock %}
  <div class="center">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username_or_email" class="form.label">Enter name or email</label>
          <input id="username_or_email" name="username_or_email" required>
        </div>
        <div class="mb-3">
          <labe for="password" class="form.label">Password</labe>
          <input id="password" name="password" type="password" required>
          <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </div>
      </form>
    </div>

    New user?<a href="{% url "register-page" %}">Register instead</a>.
</body>
{% endblock content %}